<header>
    <nav>
        <ul>
            <li><a href="{% url 'IndexView' %}">Inicio</a></li>
            <li><a href="#contact">Contacto</a></li>
        </ul>
        <button id="open-button"><i class="bi bi-list"></i></button>
        <div id="offcanvas">
            <ul>
                <li class="close-canvas"><button id="close-button"><i class="bi bi-x-lg"></i></button></li>
                <li><a href="{% url 'IndexView' %}">Inicio</a></li>
                <li><a href="#contact">Contacto</a></li>
            </ul>
        </div>
    </nav>
</header>