main.index{
    section.consults{
        margin-top: 64px;
        @include flex(column, center, center);
        h2{
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            padding: 0px 12px;
            a{
                color: $dark-violet;
                &:hover{
                    color: $violet;
                }
            }
        }
        i{
            font-size: 32px;
            margin: 24px auto;
        }
        @media only screen and (min-width:830px){
            flex-direction: row;
            padding: 0px 128px;
            h2{
                font-size: 21px;
                max-width: 600px;
            }
        }
    }
}