@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");
header {
  display: block;
  background: #7952B3;
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  font-family: Roboto, system-ui;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 32px;
  height: 48px;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}
header nav > ul li {
  margin: 0px 12px;
  height: 32px;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 2px 4px;
}
header nav > ul li a {
  position: relative;
  top: 28%;
  left: 0px;
  transition: all 0.3s;
}
header nav > ul li a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  header nav > ul {
    display: none;
  }
}
header nav > button {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #F9F9F9;
  cursor: pointer;
  height: 32px;
  font-size: 24px;
  color: #F9F9F9;
  display: grid;
  place-content: center;
  padding: 2px 4px 0px 4px;
  transition: all 0.3s;
}
header nav > button:hover {
  background-color: #F9F9F9;
  color: #7952B3;
}
header nav #offcanvas {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #7952B3;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}
header nav #offcanvas ul {
  list-style: none;
  padding: 20px;
}
header nav #offcanvas ul li {
  margin-bottom: 15px;
  font-size: 18px;
}
header nav #offcanvas ul li:first-child {
  position: relative;
  top: -15px;
}
header nav #offcanvas ul li:first-child button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
  color: #F9F9F9;
}
header nav #offcanvas ul li a {
  color: #F9F9F9;
}
header nav #offcanvas ul li a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 64px;
  }
  header nav {
    height: 64px;
  }
  header nav > button {
    margin-right: 42px;
    height: 42px;
    width: 42px;
    font-size: 32px;
  }
  header nav > ul {
    margin-left: 42px;
  }
  header nav > ul li {
    height: 48px;
  }
  header nav > ul li a {
    top: 32%;
  }
}

footer {
  background-color: #7952B3;
  color: #F9F9F9;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  font-family: Roboto, system-ui;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 24px auto;
}
footer nav ul li {
  margin: 0px 12px;
  height: 32px;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 2px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer nav ul li.title {
  margin-bottom: 12px;
}
footer nav ul li a {
  display: inline-block;
}
footer nav ul li i {
  font-size: 16px;
  margin-right: 6px;
}
@media only screen and (min-width: 768px) {
  footer nav {
    flex-direction: row;
    align-items: flex-start;
  }
  footer nav ul {
    margin: 12px 64px;
  }
  footer nav ul li {
    margin: 0px 12px;
    height: 32px;
    transition: all 0.3s;
    border-radius: 8px;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer nav ul li a {
    display: inline-block;
  }
  footer nav ul li i {
    font-size: 16px;
    margin-right: 6px;
  }
}
footer a {
  color: #F9F9F9;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

main.login {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: Roboto, system-ui;
}
@media only screen and (min-width: 800px) and (max-width: 1024px) and (min-heigth: 1190px) {
  main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  main.login form {
    margin-top: 225px;
  }
}
main.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #7952B3;
  width: 256px;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid rgba(249, 249, 249, 0.25);
  background: rgba(241, 233, 254, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 0 16px 0;
}
main.login form strong {
  color: #0D0C0B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main.login form ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 12px 21px;
  align-items: start;
  justify-content: space-evenly;
}
main.login form ul li {
  margin: 6px auto;
  height: 24px;
}
main.login form ul li ul.errorlist {
  margin: 0;
}
main.login form ul li ul.errorlist li {
  font-size: 10px;
  color: #DC3545;
  height: auto;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  main.login form ul li {
    height: 32px;
  }
}
main.login form ul li label {
  display: none;
}
main.login form ul li input {
  width: 200px;
  height: 24px;
  border-radius: 12px;
  border: none;
  background: #F9F9F9;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 4px 16px;
  margin-top: 12px;
}
main.login form ul li input:focus {
  outline: none;
  border: 1px solid #F1E9FE;
}
@media only screen and (min-width: 800px) {
  main.login form ul li input {
    width: 281px;
    height: 32px;
  }
}
@media only screen and (min-width: 800px) {
  main.login form ul {
    margin: 32px auto 24px auto;
  }
  main.login form ul li input {
    margin: 0;
  }
}
main.login form button {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: #7952B3;
  color: #F9F9F9;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 12px;
  padding: 4px 16px;
  width: 200px;
  height: 24px;
}
main.login form button:hover {
  background-color: #a287ca;
}
main.login form button:focus {
  outline: none;
}
@media only screen and (min-width: 800px) {
  main.login form button {
    width: 281px;
    height: 32px;
  }
}
main.login form > a {
  text-decoration: none;
  border: 1px solid #7952B3;
  border-radius: 8px;
  background-color: transparent;
  color: 12px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  padding: 4px 16px;
  display: grid;
  place-content: center;
}
main.login form > a:hover {
  background-color: #7952B3;
  color: white;
}
main.login form > a:focus {
  outline: none;
}
main.login form > a span {
  display: inline-block;
}
main.login form > button + a {
  margin: 8px auto;
  width: 200px;
  height: 24px;
}
@media only screen and (min-width: 800px) {
  main.login form > button + a {
    width: 281px;
    height: 32px;
  }
}
main.login form nav {
  margin-top: 8px;
}
main.login form nav a {
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
main.login form nav a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 800px) {
  main.login form nav {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 800px) {
  main.login form {
    width: 360px;
    height: 383px;
  }
  main.login form strong {
    font-size: 16px;
  }
}

.helptext {
  display: none;
}

#load-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #F1E9FE;
  display: grid;
  place-content: center;
  opacity: 1; /* Establece la opacidad inicial en 1 (completamente visible) */
  transition: opacity 0.5s ease; /* Agrega una transición de 0.5 segundos para la propiedad de opacidad */
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #473E66;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
main nav {
  font-family: Roboto, system-ui;
  font-size: 12px;
  font-weight: 400;
}
main nav div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin: 24px;
}
main nav div a {
  text-decoration: none;
  color: #7952B3;
}
main nav div a:hover {
  text-decoration: underline;
}
main nav div span {
  color: #9B9B9B;
  margin: 0px 8px;
}

section.user-card {
  display: grid;
  place-content: center;
  font-family: "Roboto", system-ui;
}
section.user-card article {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 4px;
  grid-template-areas: "img-user-info gear" "avatar-info button-proccess";
  border: 1px solid #CACACA;
  width: 90%;
  padding: 16px;
  height: 124px;
  border-radius: 4px;
  margin: 12px auto;
}
section.user-card article div:first-child {
  grid-area: img-user-info;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 6px 0px;
  grid-template-areas: "img username" "img email";
}
section.user-card article div:first-child img {
  width: 42px;
  height: 42px;
  object-fit: cover;
  border-radius: 50%;
  grid-area: img;
}
section.user-card article div:first-child h2 {
  font-size: 14px;
  font-weight: bold;
  grid-area: username;
  color: #0D0C0B;
}
section.user-card article div:first-child span {
  font-size: 11px;
  font-weight: lighter;
  grid-area: email;
  color: #9B9B9B;
}
section.user-card article a.gear {
  font-size: 24px;
  grid-area: gear;
  color: #9B9B9B;
  text-align: center;
  line-height: 12px;
  margin: 0px 0px 12px auto;
}
section.user-card article div.avatar-weight-height {
  grid-area: avatar-info;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin-top: 12px;
}
section.user-card article div.avatar-weight-height p {
  font-size: 12px;
  font-weight: bold;
}
section.user-card article div.avatar-weight-height p span {
  font-weight: lighter;
}
section.user-card article a:last-child {
  grid-area: button-proccess;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  height: 21px;
  width: 73px;
  text-align: center;
  list-style: 21px;
  margin-top: 21px;
}
section.user-card article a:last-child:hover {
  background-color: white;
}
section.user-card article a:last-child:focus {
  outline: none;
}

section.training-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 32px 0px 0px 0px;
}
section.training-options h2 {
  font-size: 16px;
  font-weight: 600;
}
section.training-options a.add-training {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #0CCAF1;
  color: #0D0C0B;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 73px;
  height: 21px;
}
section.training-options a.add-training:hover {
  background-color: #53dbf6;
}
section.training-options a.add-training:focus {
  outline: none;
}

section.trainings-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 0px 0px 32px 0px;
  padding: 24px;
  gap: 42px;
}
section.trainings-layout article {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 4px 8px;
  border: 1px solid #CACACA;
  border-radius: 16px;
  width: 280px;
  padding: 4px;
  height: 136px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #F9F9F9;
}
section.trainings-layout article div.training-card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section.trainings-layout article div.training-card-header h3 {
  width: 182px;
  height: 16px;
  font-size: 12px;
  font-weight: 600;
  margin-top: 12px;
}
section.trainings-layout article div.training-card-header a {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: #F1E9FE;
  color: #473E66;
  font-size: 18px;
  font-weight: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  display: grid;
  place-content: center;
}
section.trainings-layout article div.training-card-header a:hover {
  background-color: white;
}
section.trainings-layout article div.training-card-header a:focus {
  outline: none;
}
section.trainings-layout article div.training-card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 11px;
  line-height: 16px;
  gap: 64px;
}
section.trainings-layout article div.training-card-body p {
  margin: 4px 18px;
}
section.trainings-layout article div.training-card-status-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section.trainings-layout article div.training-card-status-button a {
  display: grid;
  place-content: center;
  height: 22px;
}
section.trainings-layout article div.training-card-status-button a:not(.training-card-status--not-finish) {
  width: 74px;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--finish {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #188755;
  color: #0D0C0B;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--finish:hover {
  background-color: #24c87e;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--finish:focus {
  outline: none;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--not-finish {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #DC3545;
  color: #0D0C0B;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  width: 92px;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--not-finish:hover {
  background-color: #e77681;
}
section.trainings-layout article div.training-card-status-button a.training-card-status--not-finish:focus {
  outline: none;
}
section.trainings-layout article div.training-card-status-button a.training-card-button--view {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #0C6FFD;
  color: #0D0C0B;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
section.trainings-layout article div.training-card-status-button a.training-card-button--view:hover {
  background-color: #589cfe;
}
section.trainings-layout article div.training-card-status-button a.training-card-button--view:focus {
  outline: none;
}

section.training-session > aside {
  margin: 24px auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 300px;
  width: 310px;
}
section.training-session > aside > nav {
  padding: 2px;
}
section.training-session > aside > nav div {
  font-size: 18px;
  margin: 20px auto;
  justify-content: center;
}
section.training-session > aside > nav div span {
  color: #0CCAF1;
}
section.training-session form {
  display: flex;
  flex-direction: column;
  font-family: "Roboto", system-ui;
}
section.training-session form .date-input {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
  margin: 24px 12px;
  width: 310px;
}
section.training-session form .date-input input {
  width: 140px;
  padding: 5px 10px;
  font-family: "Montserrat", system-ui;
  border-radius: 6px;
  margin-top: 8px;
}
section.training-session form .date-input input::after:focus {
  border-color: #7952B3;
}
section.training-session form .dropdown {
  position: relative;
  display: inline-block;
  width: 200px;
}
section.training-session form .dropdown label {
  font-size: 18px;
  font-weight: 400;
  color: #0D0C0B;
  margin-left: 12px;
}
section.training-session form .dropdown input#ejercicios {
  width: 100%;
  padding: 5px 10px;
  font-family: "Montserrat", system-ui;
  margin-left: 12px;
  border-radius: 6px;
  margin-top: 8px;
}
section.training-session form .dropdown input#ejercicios::after:focus {
  border-color: #7952B3;
}
section.training-session form .options {
  position: absolute;
  display: none;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  z-index: 1;
}
section.training-session form .option {
  padding: 10px;
  cursor: pointer;
}
section.training-session form input#ejercicios:focus + .options {
  display: block;
}
section.training-session form .option:hover {
  background-color: #f0f0f0;
}
section.training-session form .option.selected {
  background-color: #007bff;
  color: #fff;
}
section.training-session form .highlight {
  font-weight: bold;
}
section.training-session form .highlight-container {
  background-color: #f0f0f0;
}
section.training-session form button.save {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #0C6FFD;
  color: #F9F9F9;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  height: 31px;
  width: 136px;
  margin: 24px auto;
}
section.training-session form button.save:hover {
  background-color: #589cfe;
}
section.training-session form button.save:focus {
  outline: none;
}
section.training-session form div.aditional-notes {
  margin: 24px auto;
  max-width: 400px;
  width: 90%;
}
section.training-session form div.aditional-notes textarea {
  width: 100%;
  height: 100px;
  padding: 5px 10px;
  font-family: "Montserrat", system-ui;
  border-radius: 6px;
  margin-top: 8px;
  resize: none;
}
section.training-session form div.aditional-notes textarea::after:focus {
  border-color: #7952B3;
}

section.training-session div#training {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  gap: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
}
section.training-session div#training span.add-excersice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 136px;
  height: 21px;
  font-size: 12px;
  margin: 12px auto;
}
section.training-session div#training span.add-excersice:hover {
  background-color: white;
}
section.training-session div#training span.add-excersice:focus {
  outline: none;
}
section.training-session div#training span#add-block {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 136px;
  height: 31px;
  font-size: 12px;
  margin: 46px auto;
}
section.training-session div#training span#add-block:hover {
  background-color: white;
}
section.training-session div#training span#add-block:focus {
  outline: none;
}
section.training-session article.card {
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  width: 300px;
  min-height: 277px;
  margin: 42px auto 12px auto;
  background-color: #F9F9F9;
  font-family: Roboto, system-ui;
}
section.training-session article.card input {
  border: 1px solid #D2D2D2;
}
section.training-session article.card input:focus {
  border-color: #7952B3;
}
section.training-session article.card input:focus-visible {
  border-color: #7952B3;
}
section.training-session article.card div.card-header {
  display: grid;
  grid-template-columns: 3fr 0.5fr 3fr 3fr;
  grid-template-rows: 1fr;
  gap: 4px;
  grid-template-areas: "input arrow text card-header__reps-conf";
  justify-items: flex-start;
  align-items: center;
  background-color: #ECEDEC;
  border-bottom: 1px solid #D2D2D2;
  border-radius: 4px 4px 0 0;
}
section.training-session article.card div.card-header input {
  border-radius: 4px;
}
section.training-session article.card div.card-header input:focus {
  border-color: #7952B3;
}
section.training-session article.card div.card-header > input {
  width: 83px;
  height: 17px;
  grid-area: input;
  margin-left: 8px;
  padding: 8px;
}
section.training-session article.card div.card-header > span:first-child {
  grid-area: arrow;
  color: #0D0C0B;
}
section.training-session article.card div.card-header > span:last-child {
  grid-area: text;
  color: #0D0C0B;
}
section.training-session article.card div.card-header div.card-header__reps-conf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  grid-area: card-header__reps-conf;
  width: 100%;
}
section.training-session article.card div.card-header div.card-header__reps-conf a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0D0C0B;
  text-decoration: none;
}
section.training-session article.card div.card-header div.card-header__reps-conf input {
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0D0C0B;
  text-align: center;
}
section.training-session article.card div.card-header div.card-header__reps-conf input:focus {
  border-color: #7952B3;
}
section.training-session article.card div.exercises-layout {
  height: 100%;
}
section.training-session article.card div.exercises-layout article.block-exercises {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 4px;
  grid-template-areas: "name name" "exercises-layout__kgs-reps complete-all-inputs" "RPE RPE";
  width: 100%;
  margin: 32px auto;
}
section.training-session article.card div.exercises-layout article.block-exercises > input {
  width: 116px;
  height: 21px;
  grid-area: name;
  margin: 12px auto auto 24px;
  border-radius: 4px;
  padding: 8px;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps {
  grid-area: exercises-layout__kgs-reps;
  margin-left: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9B9B9B;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div span {
  margin-left: 12px;
  width: 32px;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div input {
  width: 24px;
  height: 17px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0D0C0B;
  text-align: center;
  margin-left: 12px;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div input:focus {
  border-color: #7952B3;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div:first-child {
  border-top: none;
  border-left: none;
  border-right: none;
}
section.training-session article.card div.exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div:last-child {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: complete-all-inputs;
  list-style-type: none;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs li input {
  width: 24px;
  height: 17px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: #FFFFFF;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs li label {
  display: inline-block;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #0CCAF1;
  color: #0D0C0B;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 15px;
  text-align: center;
  padding: 4px 2px;
  line-height: 7px;
  margin: 12px 6px;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs li label:hover {
  background-color: #53dbf6;
}
section.training-session article.card div.exercises-layout article.block-exercises ul.complete-all-inputs li label:focus {
  outline: none;
}
section.training-session article.card div.exercises-layout article.block-exercises div.RPE {
  grid-area: RPE;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  margin: 9px 12px;
}
section.training-session article.card div.exercises-layout article.block-exercises div.RPE input {
  width: 21px;
  height: 21px;
  border-radius: 2px;
}
section.training-session article.card div.exercises-layout article.block-exercises div.RPE span {
  display: inline-block;
  height: 21px;
  font-size: 12px;
  line-height: 21px;
  margin-right: 42px;
}

section.read-training article.head-training-card {
  border: 1px solid #D2D2D2;
  color: #0D0C0B;
  width: 90%;
  max-width: 360px;
  min-height: 164px;
  display: flex;
  flex-direction: column;
  padding: 18px 16px;
  justify-content: flex-start;
  gap: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
}
section.read-training article.head-training-card h2 {
  font-size: 18px;
  margin-bottom: 12px;
  text-align: center;
}
section.read-training article.head-training-card h3 {
  font-size: 14px;
  font-weight: 500;
}
section.read-training article.head-training-card h4 {
  font-size: 14px;
  font-weight: 400;
}
section.read-training article.head-training-card h4 span {
  padding: 2px 12px;
}
section.read-training article.head-training-card h4 span.not-really {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  background-color: #DC3545;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
section.read-training article.head-training-card h4 span.not-really:hover {
  background-color: #e77681;
}
section.read-training article.head-training-card h4 span.not-really:focus {
  outline: none;
}
section.read-training article.head-training-card h4 span.really {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 16px;
  background-color: #188755;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
}
section.read-training article.head-training-card h4 span.really:hover {
  background-color: #24c87e;
}
section.read-training article.head-training-card h4 span.really:focus {
  outline: none;
}
section.read-training article.head-training-card p {
  font-size: 12px;
  line-height: 16px;
  margin-top: 16px;
}

section.read-training aside.training-body article {
  border-radius: 4px;
}
section.read-training aside.training-body article div.block-header {
  background-color: #D2D2D2;
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
section.read-training aside.training-body ul {
  list-style-type: none;
}

section.read-training {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
  font-family: "Roboto", system-ui;
}

main {
  min-height: 600px;
}
main > nav {
  margin: 72px 0px 32px 0px;
}

/*# sourceMappingURL=style.css.map */
