@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
header {
  display: block;
  background: #7952B3;
  height: 48px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 100;
  font-family: Roboto, system-ui;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: auto 32px;
  height: 48px;
}
header nav > ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  list-style-type: none;
}
header nav > ul li {
  margin: 0px 12px;
  height: 32px;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 2px 4px;
}
header nav > ul li a {
  position: relative;
  top: 28%;
  left: 0px;
  transition: all 0.3s;
}
header nav > ul li a:hover {
  text-decoration: underline;
}
@media only screen and (max-width: 600px) {
  header nav > ul {
    display: none;
  }
}
header nav > button {
  border-radius: 8px;
  background-color: transparent;
  border: 2px solid #F9F9F9;
  cursor: pointer;
  height: 32px;
  font-size: 24px;
  color: #F9F9F9;
  display: grid;
  place-content: center;
  padding: 2px 4px 0px 4px;
  transition: all 0.3s;
}
header nav > button:hover {
  background-color: #F9F9F9;
  color: #7952B3;
}
header nav #offcanvas {
  position: fixed;
  top: 0;
  right: -300px;
  width: 300px;
  height: 100vh;
  background-color: #7952B3;
  box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}
header nav #offcanvas ul {
  list-style: none;
  padding: 20px;
}
header nav #offcanvas ul li {
  margin-bottom: 15px;
  font-size: 18px;
}
header nav #offcanvas ul li:first-child {
  position: relative;
  top: -15px;
}
header nav #offcanvas ul li:first-child button {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  margin-top: 32px;
  color: #F9F9F9;
}
header nav #offcanvas ul li a {
  color: #F9F9F9;
}
header nav #offcanvas ul li a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 1025px) {
  header {
    height: 64px;
  }
  header nav {
    height: 64px;
  }
  header nav > button {
    margin-right: 42px;
    height: 42px;
    width: 42px;
    font-size: 32px;
  }
  header nav > ul {
    margin-left: 42px;
  }
  header nav > ul li {
    height: 48px;
  }
  header nav > ul li a {
    top: 32%;
  }
}

footer {
  background-color: #7952B3;
  color: #F9F9F9;
  padding: 20px;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  margin-top: 20px;
  font-family: Roboto, system-ui;
}
footer nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  margin: 24px auto;
}
footer nav ul li {
  margin: 0px 12px;
  height: 32px;
  transition: all 0.3s;
  border-radius: 8px;
  padding: 2px 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
footer nav ul li.title {
  margin-bottom: 12px;
}
footer nav ul li a {
  display: inline-block;
}
footer nav ul li i {
  font-size: 16px;
  margin-right: 6px;
}
@media only screen and (min-width: 768px) {
  footer nav {
    flex-direction: row;
    align-items: flex-start;
  }
  footer nav ul {
    margin: 12px 64px;
  }
  footer nav ul li {
    margin: 0px 12px;
    height: 32px;
    transition: all 0.3s;
    border-radius: 8px;
    padding: 2px 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  footer nav ul li a {
    display: inline-block;
  }
  footer nav ul li i {
    font-size: 16px;
    margin-right: 6px;
  }
}
footer a {
  color: #F9F9F9;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

main.login {
  height: 100vh;
  display: grid;
  place-content: center;
  font-family: Roboto, system-ui;
}
@media only screen and (min-width: 800px) and (max-width: 1024px) and (min-heigth: 1190px) {
  main.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  main.login form {
    margin-top: 225px;
  }
}
main.login form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid #7952B3;
  width: 256px;
  height: fit-content;
  border-radius: 8px;
  border: 2px solid rgba(249, 249, 249, 0.25);
  background: rgba(241, 233, 254, 0.8);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 12px 0 16px 0;
}
main.login form strong {
  color: #0D0C0B;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
main.login form ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 12px 21px;
  align-items: start;
  justify-content: space-evenly;
}
main.login form ul li {
  margin: 6px auto;
  height: 24px;
}
main.login form ul li ul.errorlist {
  margin: 0;
}
main.login form ul li ul.errorlist li {
  font-size: 10px;
  color: #DC3545;
  height: auto;
  margin: 0;
}
@media only screen and (min-width: 800px) {
  main.login form ul li {
    height: 32px;
  }
}
main.login form ul li label {
  display: none;
}
main.login form ul li input {
  width: 200px;
  height: 24px;
  border-radius: 12px;
  border: none;
  background: #F9F9F9;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  font-size: 12px;
  padding: 4px 16px;
  margin-top: 12px;
}
main.login form ul li input:focus {
  outline: none;
  border: 1px solid #F1E9FE;
}
@media only screen and (min-width: 800px) {
  main.login form ul li input {
    width: 281px;
    height: 32px;
  }
}
@media only screen and (min-width: 800px) {
  main.login form ul {
    margin: 32px auto 24px auto;
  }
  main.login form ul li input {
    margin: 0;
  }
}
main.login form button {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: #7952B3;
  color: #F9F9F9;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  margin-top: 12px;
  padding: 4px 16px;
  width: 200px;
  height: 24px;
}
main.login form button:hover {
  background-color: #a287ca;
}
main.login form button:focus {
  outline: none;
}
@media only screen and (min-width: 800px) {
  main.login form button {
    width: 281px;
    height: 32px;
  }
}
main.login form > a {
  text-decoration: none;
  border: 1px solid #7952B3;
  border-radius: 8px;
  background-color: transparent;
  color: 12px;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  padding: 4px 16px;
  display: grid;
  place-content: center;
}
main.login form > a:hover {
  background-color: #7952B3;
  color: white;
}
main.login form > a:focus {
  outline: none;
}
main.login form > a span {
  display: inline-block;
}
main.login form > button + a {
  margin: 8px auto;
  width: 200px;
  height: 24px;
}
@media only screen and (min-width: 800px) {
  main.login form > button + a {
    width: 281px;
    height: 32px;
  }
}
main.login form nav {
  margin-top: 8px;
}
main.login form nav a {
  font-size: 11px;
  font-weight: 300;
  text-decoration: none;
  cursor: pointer;
}
main.login form nav a:hover {
  text-decoration: underline;
}
@media only screen and (min-width: 800px) {
  main.login form nav {
    margin-top: 24px;
  }
}
@media only screen and (min-width: 800px) {
  main.login form {
    width: 360px;
    height: 383px;
  }
  main.login form strong {
    font-size: 16px;
  }
}

.helptext {
  display: none;
}

#load-page {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  z-index: 100;
  background-color: #F1E9FE;
  display: grid;
  place-content: center;
  opacity: 1; /* Establece la opacidad inicial en 1 (completamente visible) */
  transition: opacity 0.5s ease; /* Agrega una transición de 0.5 segundos para la propiedad de opacidad */
}

.lds-grid {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-grid div {
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #473E66;
  animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
  top: 8px;
  left: 8px;
  animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
  top: 8px;
  left: 32px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
  top: 8px;
  left: 56px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
  top: 32px;
  left: 8px;
  animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
  top: 32px;
  left: 32px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
  top: 32px;
  left: 56px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
  top: 56px;
  left: 8px;
  animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
  top: 56px;
  left: 32px;
  animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
  top: 56px;
  left: 56px;
  animation-delay: -1.6s;
}

@keyframes lds-grid {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}
main nav {
  font-family: Roboto, system-ui;
  font-size: 12px;
  font-weight: 400;
}
main nav div {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  margin: 24px;
}
main nav div a {
  text-decoration: none;
  color: #7952B3;
}
main nav div a:hover {
  text-decoration: underline;
}
main nav div span {
  color: #9B9B9B;
  margin: 0px 8px;
}

main.index aside {
  display: grid;
  place-content: center;
  margin: 24px 0px;
}
main.index aside a {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
}
main.index aside a:hover {
  background-color: white;
}
main.index aside a:focus {
  outline: none;
}

.welcom {
  font-family: Roboto, system-ui;
  display: grid;
  place-content: center;
  gap: 24px;
  text-align: center;
  margin: 52px 0px;
}
.welcom h2 {
  font-size: 18px;
  font-weight: bold;
}
.welcom strong {
  font-size: 15px;
  font-weight: medium;
}

main.planificador section.welcom h2 {
  margin: 0px 12px;
}
main.planificador section.welcom h2 + strong {
  display: inline-block;
  padding: 0px 24px;
}
main.planificador section.add-period form {
  display: grid;
  place-content: center;
  margin: 24px 0px;
}
main.planificador section.add-period form button {
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 8px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 8px 16px;
}
main.planificador section.add-period form button:hover {
  background-color: white;
}
main.planificador section.add-period form button:focus {
  outline: none;
}
main.planificador section.add-period form button i {
  margin: 8px;
}
main.planificador section.periods {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.planificador section.periods article.card-period {
  font-family: Roboto, system-ui;
  border: 1px solid #D2D2D2;
  width: 300px;
  margin: 32px auto;
  border-radius: 4px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main.planificador section.periods article.card-period h2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  margin: 0px;
  padding: 8px 0px;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #D2D2D2;
  border-radius: 4px 4px 0px 0px;
  background-color: #ECEDEC;
  height: 24px;
  font-size: 14px;
}
main.planificador section.periods article.card-period h2 span {
  margin-left: 12px;
}
main.planificador section.periods article.card-period div.week-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}
main.planificador section.periods article.card-period div.week-layout div.week-card {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  gap: 8px;
  width: 100%;
}
main.planificador section.periods article.card-period div.week-layout div.week-card:not(main.planificador section.periods article.card-period div.week-layout div.week-card:first-child) {
  border-top: 1px solid #D2D2D2;
  padding-top: 12px;
}
main.planificador section.periods article.card-period div.week-layout div.week-card h3 {
  font-size: 14px;
  margin-left: 12px;
}
main.planificador section.periods article.card-period div.week-layout div.week-card ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 16px;
  list-style-type: none;
}
main.planificador section.periods article.card-period div.week-layout div.week-card ul li {
  font-size: 11px;
  width: 20px;
  height: 20px;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  display: grid;
  place-content: center;
}
main.planificador section.periods article.card-period div.week-layout div.week-card ul li:hover {
  background-color: white;
}
main.planificador section.periods article.card-period div.week-layout div.week-card ul li:focus {
  outline: none;
}
main.planificador section.periods article.card-period div.week-layout div.week-card ul li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #0D0C0B;
}

section.training-session > aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  gap: 10px;
  margin: 24px auto;
  background-color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  min-height: 300px;
  width: 310px;
}
section.training-session > aside > nav div span {
  color: #0CCAF1;
}

section.training-session div#training {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: none;
  gap: 0px;
  width: 100%;
  height: 100%;
  align-items: center;
}
section.training-session div#training span#add-excersice {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  color: #0D0C0B;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 136px;
  height: 21px;
  font-size: 12px;
  margin: 12px auto;
}
section.training-session div#training span#add-excersice:hover {
  background-color: white;
}
section.training-session div#training span#add-excersice:focus {
  outline: none;
}
section.training-session article.card {
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  width: 300px;
  height: 277px;
  margin: 12px auto 12px auto;
  background-color: #F9F9F9;
  font-family: Roboto, system-ui;
}
section.training-session article.card input {
  border: 1px solid #D2D2D2;
}
section.training-session article.card input:focus {
  border-color: #7952B3;
}
section.training-session article.card input:focus-visible {
  border-color: #7952B3;
}
section.training-session article.card div.card-header {
  display: grid;
  grid-template-columns: 3fr 0.5fr 3fr 3fr;
  grid-template-rows: 1fr;
  gap: 4px;
  grid-template-areas: "input arrow text card-header__reps-conf";
  justify-items: flex-start;
  align-items: center;
  background-color: #ECEDEC;
  border-bottom: 1px solid #D2D2D2;
  border-radius: 4px 4px 0 0;
}
section.training-session article.card div.card-header input {
  border-radius: 4px;
}
section.training-session article.card div.card-header input:focus {
  border-color: #7952B3;
}
section.training-session article.card div.card-header > input {
  width: 83px;
  height: 17px;
  grid-area: input;
  margin-left: 8px;
  padding: 8px;
}
section.training-session article.card div.card-header > span:first-child {
  grid-area: arrow;
  color: #0D0C0B;
}
section.training-session article.card div.card-header > span:last-child {
  grid-area: text;
  color: #0D0C0B;
}
section.training-session article.card div.card-header div.card-header__reps-conf {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  grid-area: card-header__reps-conf;
  width: 100%;
}
section.training-session article.card div.card-header div.card-header__reps-conf a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #0D0C0B;
  text-decoration: none;
}
section.training-session article.card div.card-header div.card-header__reps-conf input {
  width: 17px;
  height: 17px;
  border: none;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0D0C0B;
  text-align: center;
}
section.training-session article.card div.card-header div.card-header__reps-conf input:focus {
  border-color: #7952B3;
}
section.training-session article.card div#exercises-layout {
  height: 100%;
}
section.training-session article.card div#exercises-layout article.block-exercises {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  gap: 4px;
  grid-template-areas: "name name" "exercises-layout__kgs-reps complete-all-inputs" "RPE RPE";
  width: 100%;
}
section.training-session article.card div#exercises-layout article.block-exercises > input {
  width: 116px;
  height: 21px;
  grid-area: name;
  margin: 12px auto auto 24px;
  border-radius: 4px;
  padding: 8px;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps {
  grid-area: exercises-layout__kgs-reps;
  margin-left: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  border: 1px solid #9B9B9B;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div span {
  margin-left: 12px;
  width: 32px;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div input {
  width: 24px;
  height: 17px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0D0C0B;
  text-align: center;
  margin-left: 12px;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div input:focus {
  border-color: #7952B3;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div:first-child {
  border-top: none;
  border-left: none;
  border-right: none;
}
section.training-session article.card div#exercises-layout article.block-exercises aside.exercises-layout__kgs-reps div:last-child {
  border-bottom: none;
  border-left: none;
  border-right: none;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  grid-area: complete-all-inputs;
  list-style-type: none;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs li input {
  width: 24px;
  height: 17px;
  border: 1px solid #D2D2D2;
  border-radius: 4px;
  background-color: #FFFFFF;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs li label {
  display: inline-block;
  font-family: Poppins, system-ui;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #0CCAF1;
  color: #0D0C0B;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
  width: 56px;
  height: 15px;
  text-align: center;
  padding: 4px 2px;
  line-height: 7px;
  margin: 12px 6px;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs li label:hover {
  background-color: #53dbf6;
}
section.training-session article.card div#exercises-layout article.block-exercises ul.complete-all-inputs li label:focus {
  outline: none;
}
section.training-session article.card div#exercises-layout article.block-exercises div.RPE {
  grid-area: RPE;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: space-evenly;
  margin: 9px 12px;
}
section.training-session article.card div#exercises-layout article.block-exercises div.RPE input {
  width: 21px;
  height: 21px;
  border-radius: 2px;
}
section.training-session article.card div#exercises-layout article.block-exercises div.RPE span {
  display: inline-block;
  height: 21px;
  font-size: 12px;
  line-height: 21px;
  margin-right: 42px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F9F9F9;
}

main {
  min-height: 600px;
}
main > nav {
  margin: 72px 0px 32px 0px;
}

/*# sourceMappingURL=style.css.map */
