$areas-card-header:"input arrow text card-header__reps-conf" ;
$areas-exercises-layout--article:
"name name"
"exercises-layout__kgs-reps complete-all-inputs"
"RPE RPE"
;
section.training-session{
    div#training{
        @include grid(1fr, none, 0px);
        width: 100%;
        height: 100%;
        align-items: center;
        span.add-excersice{
            display: flex;
            justify-content: center;
            align-items: center;
            @include btn($white-button,$black,4px,14px,500);
            width:136px;
            height:21px;
            font-size: 12px;
            margin: 12px auto;
        }
        span#add-block{
            display: flex;
            justify-content: center;
            align-items: center;
            @include btn($white-button,$black,4px,14px,500);
            width:136px;
            height:31px;
            font-size: 12px;
            margin: 46px auto;
        }

    }
    article.card{
        border: 1px solid nth($grayList, 3);
        border-radius: 4px;
        width: 300px;
        min-height: 277px;
        margin: 42px auto 12px auto;
        background-color: $white;
        font-family: Roboto, system-ui;
        input{
            border: 1px solid nth($grayList, 3);
            &:focus{
                border-color: $violet;
            }
            &:focus-visible{
                border-color: $violet;
            }
        
        }
        div.card-header{
            @include grid-area(3fr 0.5fr 3fr 3fr, 1fr, 4px, $areas-card-header);
            justify-items: flex-start;
            align-items: center;
            background-color: nth($grayList, 4);
            border-bottom: 1px solid nth($grayList, 3);
            border-radius: 4px 4px 0 0;
            input{
                border-radius: 4px;
                &:focus{
                    border-color: $violet;
                }
            }
            >input{
                width: 83px;
                height: 17px;
                grid-area: input;
                margin-left: 8px;
                padding: 8px;
            }
            >span:first-child{
                grid-area: arrow;
                color: $black;
            }
            >span:last-child{
                grid-area: text;
                color: $black;
            }
            div.card-header__reps-conf{
                @include flex(row, center,space-evenly);
                grid-area: card-header__reps-conf;
                width: 100%;
                a{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    color: $black;
                    text-decoration: none;
                }
                input{
                    width: 17px;
                    height: 17px;
                    border: none;
                    border-radius: 4px;
                    background-color: $white-button;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    color: $black;
                    text-align: center;
                    &:focus{
                        border-color: $violet;
                    }
                }
            }
        }
        div.exercises-layout{
            height: 100%;
            article.block-exercises{
                @include grid-area(2fr 1fr, 1fr 2fr 1fr, 4px, $areas-exercises-layout--article);
                width: 100%;
                margin: 32px auto;
                >input{
                    width: 116px;
                    height: 21px;
                    grid-area: name;
                    margin: 12px auto auto 24px;
                    border-radius: 4px;
                    padding: 8px;
                }
                aside.exercises-layout__kgs-reps{
                    grid-area: exercises-layout__kgs-reps;
                    margin-left: 12px;
                    @include grid(1fr, 1fr 1fr, 0px);
                    div{
                        @include flex(row, center, flex-start);
                        width: 100%;
                        border: 1px solid nth($grayList, 1);
                        span{
                            margin-left: 12px;
                            width: 32px;
                        }
                        input{
                            width: 24px;
                            height: 17px;
                            border:1px solid nth($grayList, 3 );
                            border-radius: 4px;
                            background-color: $white-button;
                            font-family: 'Roboto', sans-serif;
                            font-weight: 400;
                            font-size: 14px;
                            color: $black;
                            text-align: center;
                            margin-left: 12px;
                            &:focus{
                                border-color: $violet;
                            }
                        }
                        &:first-child{
                            border-top:none;
                            border-left: none;
                            border-right: none;
                        }
                        &:last-child{
                            border-bottom:none;
                            border-left: none;
                            border-right: none;
                        }
                    }
                }
                ul.complete-all-inputs{
                    @include flex(column, center, space-around);
                    grid-area: complete-all-inputs;
                    list-style-type: none;
                    li{
                        @include flex(row, center, space-around);
                        input{
                            width: 24px;
                            height: 17px;
                            border:1px solid nth($grayList, 3 );
                            border-radius: 4px;
                            background-color: $white-button;
                        }
                        label{
                            display: inline-block;
                            @include btn($ligth-blue, $black, 4px, 11px, 600);
                            width: 56px;
                            height: 15px;
                            text-align: center;
                            padding: 4px 2px;
                            line-height: 7px;
                            margin: 12px 6px;
                        }
                    }
                }
                div.RPE{
                    grid-area: RPE;
                    @include flex(row, start, space-evenly);
                    margin: 9px 12px;
                    input{
                        width: 21px;
                        height: 21px;
                        border-radius: 2px;
                    }
                    span{
                        display: inline-block;
                        height: 21px;
                        font-size: 12px;
                        line-height: 21px;
                        margin-right: 42px;
                    }
                }
            }
        }
    }
}