main{
    nav{
        font-family: Roboto, system-ui;
        font-size: 12px;
        font-weight: 400;
        @media only screen and (min-width: 768px){
            font-size: 16px;
        }
        
        div{
            @include flex(row,start,start);
            margin: 24px;
            @media only screen and (min-width: 768px){
                margin: 32px;
                height: 64px;
                align-items: center;
            }
            a{
                text-decoration: none;
                color:$violet;
                &:hover{
                    text-decoration: underline;
                }
            }
            span{
                color: nth($grayList, 1);
                margin: 0px 8px;
            }
        }
    }
}