@import 'utils/vars';
@import 'utils/mixins';
@import 'utils/class';
@import 'base/header';
@import 'base/footer';
@import 'login/login';
@import 'animations/load_images';
@import 'utils/navegations';
@import 'dashboard/user-card';
@import 'dashboard/training-options';
@import 'dashboard/trainings-layout';
@import 'training/create-training/create-training';
@import 'training/create-training/card';
@import 'training/read-training/read-training';
@import 'training/delete-training/delete-training';
@import 'index/index';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: $white;
    font-family: 'Roboto', system-ui;
}

main{
    min-height: 600px;
    background-color: $white;
    >nav{
        margin: 72px 0px 32px 0px;
    }
}
