{% extends "base/base.html" %}
{% load static %}
{% block title %}Entrenamiento{% endblock title %}
{% block main %}
<main>
    <nav>
        <div><a href="{% url 'IndexView' %}">Inicio</a><span> > </span><a href="#">Entrenamiento</a></div>
    </nav>
    <section class="read-training">
        {% include "./training_card.html" %}
        {% include "./training_blocks.html" %}
        <a class="btn-finish-training" href="{% url 'finish_training' training.id %}">Finalizar entrenamiento</a>
    </section>

</main>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}