{% extends "base/base.html" %}
{% load static %}
{% block title %}Creación de entrenamiento{% endblock title %}
{% block main %}

<main>
    <nav>
        <div><a href="{% url 'IndexView' %}">Tablero</a><span> > </span><a href="{% url 'PlanificadorListView' %}">Planificador</a><span> > </span><a href="#">Domingo</a></div>
    </nav>
    <section class="training-session">
        <aside>
            <nav>
                <div><a href="{% url 'IndexView' %}">Tablero</a><span> > </span><a href="{% url 'PlanificadorListView' %}">Planificador</a><span> > </span><a href="#">Domingo</a></div>
            </nav>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" id="meta-cant-blocks" name="meta-cant-blocks" value="0">
                <input type="text" id="meta-cant-excercise" name="meta-cant-excercise" value="0">
                <div>
                    <label for="ejercicios">Escribe el nombre de un ejercicio:</label>
                    <input type="text" id="ejercicios" list="lista-ejercicios">
                    <datalist id="lista-ejercicios">
                        <option value="Press de Banca">
                        <option value="Sentadillas">
                        <option value="Pull-Ups">
                        <option value="Flexiones">
                        <option value="Press Militar">
                        <option value="Peso Muerto">
                        <option value="Plancha">
                        <option value="Curl de Bíceps">
                        <option value="Tríceps en polea">
                        <option value="Abdominales">
                        <option value="Burpees">
                        <option value="Zancadas">
                    </datalist>
                </div>
                <div id="training">
                    <span id="add-block"><i class="bi bi-plus-lg"></i><span>Agregar bloque</span></span>
                </div>
            </form>
        </aside>
    </section>
</main>
{% endblock main %}

{% block scripts %}
    <script type="module" src="{% static 'js/TrainingDatalist.js' %}"></script>
    <script type="module" src="{% static 'js/TrainingSession.js' %}"></script>
    <script type="module" src="{% static 'js/TrainingCard.js' %}"></script>
{% endblock scripts %}