section.read-training{
    aside.training-body{
        article{
            border-radius: 4px;
            div.block-header{
                background-color: nth($grayList, 3);
                width: 100%;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
        ul{
            list-style-type: none;
        }
    }
}