footer{
    background-color: $violet;
    color: $white;
    padding: 20px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
    font-family: Roboto, system-ui;;
    nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        ul{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            list-style-type: none;
            margin: 24px auto;
            li{
                margin: 0px 12px;
                height: 32px;
                transition: all .3s;
                border-radius: 8px;
                padding: 2px 4px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                &.title{
                    margin-bottom: 12px;
                }
                a{
                    display: inline-block;
                }
                i{
                    font-size: 16px;
                    margin-right: 6px;
                }

            }
        }
        @media only screen and (min-width: 768px){
            flex-direction: row;
            align-items: flex-start;
            ul{
                margin: 12px 64px;
                li{
                    margin: 0px 12px;
                    height: 32px;
                    transition: all .3s;
                    border-radius: 8px;
                    padding: 2px 4px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                    a{
                        display: inline-block;
                    }
                    i{
                        font-size: 16px;
                        margin-right: 6px;
                    }
                }
            }
        }
    }
    a{
        color: $white;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
}