header {
    display: block;
    background: $violet;
    height: 48px;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
    font-family: Roboto, system-ui;
    nav {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      margin: auto 32px;
      height: 48px;
      >ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        list-style-type: none;
        li{
          margin: 0px 12px;
          height: 32px;
          transition: all .3s;
          border-radius: 8px;
          padding: 2px 4px;
          a{
            position: relative;
            top: 28%;
            left: 0px;
            transition: all .3s;
            &:hover{
              text-decoration: underline;
            }
          }
        }
        @media only screen and (max-width:600px){
          display: none;
        }
      }
      >button{
        border-radius: 8px;
        background-color: transparent;
        border: 2px solid $white;
        cursor: pointer;
        height: 32px;
        font-size: 24px;
        color: $white;
        display:grid;
        place-content: center;
        padding: 2px 4px 0px 4px;
        transition: all .3s;
        &:hover{
          background-color: $white;
          color: $violet;
        }
      }
      #offcanvas{
        position: fixed;
        top: 0;
        right: -300px; // La posición inicial fuera de la pantalla
        width: 300px;
        height: 100vh;
        background-color: $violet;
        box-shadow: -3px 0px 10px rgba(0, 0, 0, 0.2);
        transition: right 0.3s ease-in-out;
        z-index: 1000;
        ul {
          list-style: none;
          padding: 20px;
          li {
            margin-bottom: 15px;
            font-size: 18px;
            &:first-child{
              position: relative;
              top: -15px;
              button{
                border: none;
                background-color: transparent;
                font-size: 20px;
                cursor: pointer;
                margin-top: 32px;
                color: $white;
              }
            }
            a{
              color: $white;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
    @media only screen and (min-width:1025px){
      height: 64px;
      nav{
        height: 64px;
        >button{
          margin-right: 42px;
          height: 42px;
          width: 42px;
          font-size: 32px;
        }
        >ul{
          margin-left: 42px;
          li{
            height: 48px;
            a{
              top: 32%;
            }
          }
        }
      }
    }
  }